<?xml version="1"?>
<launch>
    <arg name="localization" default="false"/>
    <arg name="wait_for_transform" default="0.2"/>
    <arg name="database_path" default="rtabmap.db"/>

    <arg if="$(arg localization)" name="args" default=""/>
    <arg unless="$(arg localization)" name="args" default="--delete_db_on_start"/>

    <group ns="rtabmap">
        <node pkg="nodelet" type="nodelet" name="rgbd_sync" args="standalone rtabmap_ros/rgbd_sync" output="screen">
            <remap from="rgb/image" to="/camera/color/image_raw"/>
            <remap from="depth/image" to="/camera/aligned_depth_to_color/image_raw"/>
            <remap from="rgb/camera_info" to="/camera/color/camera_info"/>
            <remap from="rgbd_image" to="rgbd_image"/> <!-- output -->

            <!-- Should be true for not synchronized camera topics
                 (e.g., false for kinectv2, zed, realsense, true for xtion, kinect360)-->
            <param name="approx_sync" value="false"/>
        </node>


        <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="$(arg args)">
            <param name="frame_id" type="string" value="base_link"/>

            <param name="subscribe_depth" type="bool" value="false"/>
            <param name="subscribe_rgb" type="bool" value="false"/>
            <param name="subscribe_rgbd" type="bool" value="true"/>
            <param name="subscribe_scan" type="bool" value="true"/>
            <!-- inputs -->
            <remap from="odom" to="/odom"/>
            <remap from="scan" to="/scan"/>
            <remap from="rgbd_image" to="rgbd_image"/>
            <remap from="rgb/image" to="/camera/rgb/image_raw"/>
            <remap from="depth/image" to="/camera/depth/image_raw"/>
            <remap from="rgb/camera_info" to="/camera/rgb/image_converted/camera_info"/>
            <param name="queue_size" type="int" value="50"/>

            <!-- output -->
            <remap from="grid_map" to="/map"/>

            <!-- RTAB-Map's parameters -->

            <!-- localization mode -->

        </node>


    </group>

    <!--    Open rviz-->
    <node
            name="rviz"
            pkg="rviz"
            type="rviz"
            args="-d $(find urdf_try_1)/rviz_config/rtab_rviz.rviz"/>


</launch>
